<div class="app_title playlist_title ui raised very padded text container segment">
  A l g o r h y t h m
</div>
<div class="content ui raised very padded text container segment">
  <div class="ui divider"></div>

  <p >Welcome to Algorhythm. We're here to make it as easy as possible for you to get some new music in your life. Let's walk through the process together, step by step.</p><br>

  <p>Once you've created an account and logged in, hit "New Playlist" to start building your first seed. You'll be presented with a lovely form that will take:</p>
  <ul>
    <li>The name of the playlist</li>
    <li>A collection of artists, separated by a comma and a space</li>
    <li>A collection of tracks, separated by a comma and a space</li>
    <li>A collection of genres, separated by a comma and a space</li>
  </ul>
  <p>The algorithm cannot handle more than 5 total seeds. That means you can put in two artists, two tracks and a genre, or three genres and two tracks, or five tracks - but above that, the recommendation algorithm will fail.</p><br>

  <p>Once you've input your seeds and continued on, you'll be presented with a screen to <strong>confirm your inputs</strong>. We'll search for your artists and tracks and return what we think you meant - but if we messed up, hit the drop-down menu and select the correct option. This is especially helpful for tracks, where many tracks have the same name but different artists.</p><br>

  <p>Okay, we nailed it, your seeds are confirmed. You're on the playlist page. From here, you can click on your seeds to view more info about them, including other playlists using that seed. Or, you can select a number of tracks to render, up to 100, and hit <strong>Generate Playlist</strong>. This will attempt to create a playlist for you. If it fails, you can click <strong>Edit Playlist</strong> to remove / refine your search - make sure you're at or under 5 seeds, and they're relatively close in style.</p><br>

  <p>Once you've generated your playlist, if you've connected your Spotify account, you can hit <strong>Save to Spotify</strong> to add the whole playlist directly to your account. Cool, right? Then, you can pop open Spotify and hear the fruits of your labors.</p><br>
  <p>If you don't have Spotify, we recommend grabbing a web-based playlist converter like <a href="http://www.playlist-converter.net/#/">Playlist-Converter.net</a> to convert your text playlist to the platform of your choosing.</p>

  <p>Congrats, you're done! Feel free to check out other users' playlists, add some comments, share with your friends, whatever! Thanks for checking us out.</p><br>

  <p>-The Algorhythm Team</p>
  <div class="ui divider"></div>

</div>
